
  <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
      <a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder" align="center" > Te ofrecemos</h4>

      <p>
        <img src="assets/img/lenguas2.jpg" alt=""> <br> 
        Dedicando servicios informáticos desde 1996 con sostenido éxito en el Desarrollo de Software y 
        Soluciones a Medida, desde el año 1998 hemos incursionado en el mundo de la Programación, 
        tanto en lenguajes de alto nivel asimismo nuestra creciente expectativa por estar a la
        vanguardia en cuanto a nuestros conocimientos nos hace poder ofrecerles soluciones muy actuales,
        habiendo adquirido experiencia en la atención a nuestros clientes, 
        contamos con lDEs Entornos de Desarrollos actuales, Bases de datos MySql, SQLServer , Oracle, entre otros.
          
        </p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4"> 
      <h6 class="ae-u-boldest" align="center"> Desarrollo </h6> <br>
      <p class="au-lh-3"><img src="assets/img/desarrollo3.jpg" alt=""><br> <br>
        Nuestra amplia experiencia y la Visión de Integración
         que tenemos de los diversos
         lenguajes de Programación incluyendo el manejo oportuno de la información, nos respaldan para
        responder su solicitud de su COTIZACION por nuestro Servicio de DESARROLLO DE SISTEMAS A MEDIDA.
        <br>
      </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest" align="center"> Diseños </h6>
      <p class="au-lh-3">  <img src="assets/img/web2.jpg" alt="">  <br> Estamos a la vanguardia de nuevas tecnologias
        que nos permiten brindar un diseño moderno en tus logins, menus, formularios, consultas, reportes, etc. </p>   
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest" align="center"> Seguridad</h6>
      <p class="au-lh-3">  <img src="assets/img/seguridad2.jpg" alt="">  <br> La seguridad de su informacion es tambien nuestra
         prioridad te ofrecemos confiabilidad integral de su data. <br>
        nuestros productos son desarrollados en un ambiente Multiusuario (N Pcs)
        abierta la posibilidad de emigrarse a un ambiente Net (N usuarios en la Web). </p>   
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest" align="center"> Desarrollo Web</h6> <br>
      <p class="au-lh-3">  <img src="assets/img/web.jpg" alt=""> <br><br> <br> 
        Realizamos páginas web a medida estaticas, intuitivas, emotivas que te hagan vivir una experiencia memorable, webs de nivel mundial para negocios de todos los tamaños.</p>
    </div>

    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest" align="center"> Hardware & Software</h6>
      <p class="au-lh-3">  <img src="assets/img/hardw2.jpg" alt="">  <br> Te ofrecemos repuestos nuevos y/o seminuevos con
      garantia, asi como tambien una ganma de programas para su equipo. </p>   
    </div>

    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest" align="center"> Otros dispositivos</h6>
      <p class="au-lh-3">  <img src="assets/img/servicios.jpg" alt=""> Abarcamos para su empresa configuracion de su logotipo,
       impresiones de comprobantes de Venta, impresoras, scanners, lectoras y/o impresoras de codigos de barras, gavetas, 
       cajas registradoras, pantallas tactil, ticketeras terminas y/o matriciales, otros. </p>
    </div>
    
 
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ubiquenos aqui...<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
